@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&family=M+PLUS+Rounded+1c&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Pixelify+Sans:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Square+Peg&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* heading-container */
/* Header nav-bar */

.main-container {
  border: 1px solid black;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #252525;
}

.select-option {
  background-color: #252525;
  color: white;
  border: none;
  /* border: #252525; */
  cursor: pointer;
}

.more-brands {
  margin: 0 0 0 2em;
}

.nav-bar > ul {
  display: flex;
  list-style-type: none;
  gap: 10px;
  color: white;
}

.nav-bar > ul > li {
  border-right: 0.5px solid rgb(65, 60, 60);
  padding: 5px 1.5em 0 5px;
  cursor: pointer;
}

.stores-icon {
  font-size: 20px;
  padding: 0 5px 0 0;
}

.aditya-birla-logo {
  height: 30px;
  width: 30px;
}

/* Header nav-bar */

.reebok-container {
  display: flex;
  align-items: center;
}

.search-bar {
  margin-left: auto;
  display: flex;
}

.search-bar input[type="text"],
.search-bar button {
  margin-right: 10px;
}

/* different Section New Men Women */

.reebok-section {
  /* border: 1px solid black; */
  margin: 2em 0 0 11em;
}

.reebok-lists > ul {
  display: flex;
  list-style-type: none;
  gap: 2em;
  font-weight: 500;
}

.reebok-lists > ul > li {
  font-size: 15px;
  cursor: pointer;
}

.reebok-logo {
  height: auto;
  width: 10em;
  margin: 0 5em 0 0;
}

.sale {
  color: #cd1423;
}

/* Search container */

.search-icon {
  font-size: 20px;
  margin: 1em 1em 0 0;
  cursor: pointer;
}

.search-bar {
  margin: 0 0 0 14em;
}

.search-input {
  border-top: #252525;
  border-right: #252525;
  border-left: #252525;
}

.delivery-logo {
  font-size: 16px;
  margin: 15px 10px 0 0;
}

.delivery {
  display: flex;
  height: 50px;
  width: 250px;
  background-color: #c40c2f;
  color: white;
  border-radius: 40px;
  text-align: start;
  padding: 0 0 0 15px;
  cursor: pointer;
}

.content-text {
  margin: 5px 0 0 0;
}

.button-head {
  font-size: 15px;
  font-weight: 600;
}

.button-content {
  font-size: 10px;
  font-weight: 300;
  margin: 0 0 0 0;
}

/* Cards */

.main-card-container {
  display: flex;
  margin: 0 0 0 8em;
}

.card-container {
  height: auto;
  width: 390px;
  /* border: 1px solid black; */
  margin: 5em 0 0 1em;
}

.card-name {
  display: flex;
  justify-content: space-between;
}

.image-tag {
  background-image: linear-gradient(
    285deg,
    rgb(46, 164, 224),
    rgb(49, 198, 132)
  );
  color: rgb(255, 255, 255);
  height: 25px;
  width: 120px;
  margin: 10px 0 0 0;
  padding: 0 0 0 0;
  font-size: 15px;
  text-align: center;
}

.card-img {
  display: flex;
  justify-content: space-between;
  margin: 0 0 0 0;
  height: 500px;
  width: 390px;
  background-image: url(https://imagescdn.reebok.in/img/app/product/3/39630561-13059531.jpg?q=75&auto=format&w=387);
}

.card-img1 {
  display: flex;
  justify-content: space-between;
  margin: 0 0 0 0;
  height: 500px;
  width: 390px;
  background-image: url(https://imagescdn.reebok.in/img/app/product/3/39627622-12952976.jpg?q=75&auto=format&w=387);
}

.card-img2 {
  display: flex;
  justify-content: space-between;
  margin: 0 0 0 0;
  height: 500px;
  width: 390px;
  background-image: url(https://imagescdn.reebok.in/img/app/product/3/39634580-13181532.jpg?q=75&auto=format&w=387);
}

.card-img3 {
  display: flex;
  justify-content: space-between;
  margin: 0 0 0 0;
  height: 500px;
  width: 390px;
  background-image: url(https://imagescdn.reebok.in/img/app/product/3/39628113-12976328.jpg?q=75&auto=format&w=387);
}

.heart-icon {
  height: 50px;
  width: 50px;
}

.product-name {
  padding: 8px 0 0 0;
}

.card-price {
  font-weight: bold;
}